.Grid {
  justify-content: space-evenly;
 }

.GridItem { 
  max-width: 100%; 
}
.Card {
  margin-top: 30px;
  max-width: 250px; 
  border-radius: 0;
}

.CardMediaWrap {
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: center;
}

.Typography {
  text-decoration: underline;
}
