.InputContainer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

.TextField {
  width: 100%;
  max-width: 500px;
  height: 30px;
  margin-bottom: 10px;
  background-color: white;
}

.TextField input {
  height: 30px;
  padding: 0;
}
